<% provide(:title, "ホーム") %>
<div class="row">
  <div class="col-md-9">
    <div class="feedPage_header">
      <h2>プログラミング知識を共有しよう</h2>
      <%= link_to (button_tag "ノウハウ・Tipsを投稿する", type: 'button', class: "btn btn-primary"), new_draft_path %>
    </div>
  </div>
  <div class="col-md-3">
    <div>
    </div>
  </div>
</div>
