@import "bootstrap-sprockets";
@import "bootstrap";

/* variables, mixins */
$gray-medium-light: #eaeaea;
$theme-color-normal: #3eaad7;
$theme-color-faint: #7DBCD7;

@mixin box_sizeing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {
  margin: 0;
  padding: 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 32px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.mr-5 {
  margin-right: 5px;
}

/* header */

.header {
  height: 60px;
  //position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  border-bottom: 1px solid #DDDDDD;
  width: 100%;
  padding: 10px 10px;
  display: block;
  a {
    i {
      margin-right: 5px;
    }
    &:hover {
      background-color: white;
      color: $gray;
      text-decoration: none;
    }
  }
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  li {
    float: left;
    border-left: 1px solid #DDDDDD;
  }
  .btn-link {
    margin-left: 10px;
    margin-right: 10px;
  }
}

#logo {
  float: left;
  line-height: 40px;
  margin-right: 10px;
  font-size: 2.5em;
  color: $theme-color-normal;
  letter-spacing: -1px;
  letter-spacing: 0.1em;
  &:hover {
    color: $theme-color-faint;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

  a {
    color: $gray;
    &:hover {
      background-color: white;
      color: $gray;
      text-decoration: none;
    }
  }
  small {
    float: left;
  }
  ul {
    margin-top: 0;
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

input, textarea, select, .unedittable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizeing;
}

input {
  height: auto !important;
}

/* draft */

.draftsSidebar {
  border-right: 1px solid $gray-medium-light;
  padding-right: 0;
  height: 850px;
}

.draftsSidebarHeader {
  font-weight: bold;
  font-size: 16px;
  line-height: 64px;
}

.draftsSidebarHeader_btn {
  float: right;
  margin: 18px 10px 0 0;
}

.draftsPreview {
  padding: 0;
}

.draftsPreviewMenu {
  padding-left: 20px;
  line-height: 64px;
  display: block;
  border-bottom: solid 1px $gray-medium-light;
}

.draftsPreviewContent_header {
  padding: 4px 20px;
  border-bottom: solid 1px $gray-medium-light;
}

.draftsPreviewContent_title {
  margin: 10px 0;
  text-align: left;
}

.draftsPreviewContent_body {
  padding: 10px 20px;
}

/* feedPage */

.feedPage_header {
  margin-bottom: 20px;
  h2 {
    text-align: left;
  }
}