<footer class="footer">
  <div class="container">
    <small>&copy; 2017 ShunjiKato</small>
    <nav>
      <ul>
        <li><%= link_to "Siitaとは", about_path %></li>
      </ul>
    </nav>
  </div>
</footer>