<header class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="container">
    <%= link_to "Siita", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "投稿する", '#' %></li>
        <li><%= link_to "ストック一覧", '#' %></li>
      </ul>
    </nav>
  </div>
</header>